h5.header, h6.header {
    color: orange;
    margin-right: 5px;
}

.holder {
    /*font-size: small;*/
}

.card {
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

.separators {
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}