<div class="row holder">
  <div class="col-sm-2">
    <div class="list-group">
      <h6>Choose a POKEMON type</h6>
      <a href="#" class="list-group-item  list-group-item-action" (click)="getDetails(pt.url)" *ngFor="let pt of pokeType">
        {{pt.name}}
      </a>
    </div>
  </div>
  <div class="col-sm-3" *ngIf="pokeTypeDetails">
    <h6>How <span style="color:orange">{{pokeTypeDetails.name}}</span> Pokemons damage opponents or get damaged</h6>
    <table class="table table-striped table-hover table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Type</th>
          <th>From</th>
          <th>To</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-danger">
          <td>1</td>
          <td>Double Damage</td>
          <td>
            <div *ngFor="let doubleDamage of pokeTypeDetails.damage_relations.double_damage_from">
              {{doubleDamage.name}}
            </div>
          </td>
          <td>
            <div *ngFor="let doubleDamage of pokeTypeDetails.damage_relations.double_damage_to">
              {{doubleDamage.name}}
            </div>
          </td>
        </tr>
        <tr class="table-warning">
          <td>2</td>
          <td>Half Damage</td>
          <td>
            <div *ngFor="let doubleDamage of pokeTypeDetails.damage_relations.half_damage_from">
              {{doubleDamage.name}}
            </div>
          </td>
          <td>
            <div *ngFor="let doubleDamage of pokeTypeDetails.damage_relations.half_damage_to">
              {{doubleDamage.name}}
            </div>
          </td>
        </tr>
        <tr class="table-success">
          <td>3</td>
          <td>No Damage</td>
          <td>
            <div *ngFor="let doubleDamage of pokeTypeDetails.damage_relations.no_damage_from">
              {{doubleDamage.name}}
            </div>
          </td>
          <td>
            <div *ngFor="let doubleDamage of pokeTypeDetails.damage_relations.no_damage_from">
              {{doubleDamage.name}}
            </div>
          </td>
        </tr>
    </table> 
    <h6><span style="color:orange">{{pokeTypeDetails.name}}</span> Pokemon moves</h6>
    <div  *ngFor="let moves of pokeTypeDetails.moves">
      <div class="float-left"><span class="badge badge-pill badge-info">{{moves.name}}</span></div>
    </div>
  </div>
  <div class="col-sm-7" *ngIf="pokeTypeDetails">
    <h6>List of <span style="color:orange">{{pokeTypeDetails.name}}</span> Pokemons</h6>
    <div  *ngFor="let pokemon of pokeTypeDetails.pokemon">
      <div class="float-left separators"><button class="btn btn-primary">{{pokemon.pokemon.name}}</button></div>
    </div>
  </div>
</div>

